
.keyboard
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width:80vw;
	background-color:grey;
	/*padding: 10px;*/
}
.keyboard-row
{
	border-radius: var(--container-radius);
	width: 100%;
	height: fit-content;
	/*margin: clamp(var(--space-xs), 1vw, var(--space-md)) auto 0 auto;*/
	box-sizing: border-box;	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 1px;
	gap:5px
}
.keyboard-key
{
	display:flex;
	flex:1;
	background-color: #373b41;
	align-items:center;
	justify-content:center;
	height: clamp(1rem,40vh,5rem);
}
.keyboard-key > p
{
	font-size: 1.5rem;	
	color:#c5c8c6;
	user-select:none;	

}
.space
{
	flex: 6; 
}
.escape
{
	flex:1.2;
}
.tab
{
	flex:1.4;
}
.enter
{
	flex:1.5;
}
.control
{
	flex:1.1;
}
.backspace
{
	flex:1.8;
}
.capslock
{
	flex:1.6;
}
.shift
{
	flex:2;
}

#battlefield
{
	font-size: clamp(.5em,3vh,6em);
	overflow-y:auto;
	resize:optional;
	width:100%;
	height:30vh;
	#user-select:none;
	#pointer-events:none;
}
