{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
{% endblock %}

{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<select id="Theme" name="Theme">
  <option>Dark</option>
  <option selected>Light</option>
</select>

<select id="Keyboard-Layout" name="Keyboard-Layout">
	<option value="QWERTY">QWERTY</option>
	<option value="Colemak">Colemak</option>
	<option value="QWERTZ">QWERTZ</option>
</select>

<h1>HTML + CSS Keyboard</h1>
<div class="keyboard cont-col">
	<!-- riga 0  -->
	<div class="keyboard-row m-cont cont-row">

		<div class="keyboard-key">
			<p>Escape</p>
		</div>

		<div class="keyboard-key">
			<p>1</p>
		</div>

		<div class="keyboard-key">
			<p>2</p>
		</div>
	
		<div class="keyboard-key">
			<p>3</p>
		</div>

		<div class="keyboard-key">
			<p>4</p>
		</div>
	
		<div class="keyboard-key">
			<p>5</p>
		</div>

		<div class="keyboard-key">
			<p>6</p>
		</div>

		<div class="keyboard-key">
			<p>7</p>
		</div>

		<div class="keyboard-key">
			<p>8</p>
		</div>
	
		<div class="keyboard-key">
			<p>9</p>
		</div>

		<div class="keyboard-key">
			<p>0</p>
		</div>
	
		<div class="keyboard-key">
			<p>-</p>
		</div>

		<div class="keyboard-key">
			<p>=</p>
		</div>
	
		<div class="keyboard-key">
			<p>Backspace</p>
		</div>

	</div>

	<!-- riga 1  -->
	<div class="keyboard-row m-cont cont-row">
		<div class="keyboard-key">
			<p>Tab</p>
		</div>
	
		<div class="keyboard-key">
			<p id="Key1">q</p>
		</div>

		<div class="keyboard-key">
			<p id="Key2">w</p>
		</div>
	
		<div class="keyboard-key">
			<p id="Key3">e</p>
		</div>

		<div class="keyboard-key">
			<p id="Key4">r</p>
		</div>
	
		<div class="keyboard-key">
			<p id="Key5">t</p>
		</div>

		<div class="keyboard-key">
			<p id="Key6">y</p>
		</div>

		<div class="keyboard-key">
			<p id="Key7">u</p>
		</div>

		<div class="keyboard-key">
			<p id="Key8">i</p>
		</div>
	
		<div class="keyboard-key">
			<p id="Key9">o</p>
		</div>

		<div class="keyboard-key">
			<p id="Key10">p</p>
		</div>

		<div class="keyboard-key">
			<p id="Key28">[</p>
		</div>
	
		<div class="keyboard-key">
			<p id="Key29">]</p>
		</div>
	
		<div class="keyboard-key">
			<p id="Key30">\</p>
		</div>
	

	</div>
	<!-- riga 2  -->
	<div class="keyboard-row m-cont cont-row">
		<div class="keyboard-key">
			<p>CapsLock</p>
		</div>

		<div class="keyboard-key">
			<p id="Key11">a</p>
		</div>

		<div class="keyboard-key">
			<p  id="Key12">s</p>
		</div>
	
		<div class="keyboard-key">
			<p id="Key13">d</p>
		</div>

		<div class="keyboard-key">
			<p id="Key14">f</p>
		</div>
	
		<div class="keyboard-key">
			<p id="Key15">g</p>
		</div>

		<div class="keyboard-key">
			<p id="Key16">h</p>
		</div>

		<div class="keyboard-key">
			<p id="Key17">j</p>
		</div>

		<div class="keyboard-key">
			<p id="Key18">k</p>
		</div>
	
		<div class="keyboard-key">
			<p id="Key19">l</p>
		</div>

		<div class="keyboard-key">
			<p id="Key20">ò</p>
		</div>
	
		<div class="keyboard-key">
			<p id="Key31">'</p>
		</div>
	
		<div class="keyboard-key">
			<p>Enter</p>
		</div>

	</div>

	<!-- riga 3  -->
	<div class="keyboard-row m-cont cont-row">
		<div class="keyboard-key">
			<p>Shift</p>
		</div>

		<div class="keyboard-key">
			<p id="Key21">z</p>
		</div>

		<div class="keyboard-key">
			<p id="Key22">x</p>
		</div>
	
		<div class="keyboard-key">
			<p id="Key23">c</p>
		</div>

		<div class="keyboard-key">
			<p id="Key24">v</p>
		</div>
	
		<div class="keyboard-key">
			<p id="Key25">b</p>
		</div>

		<div class="keyboard-key">
			<p id="Key26">n</p>
		</div>

		<div class="keyboard-key">
			<p id="Key27">m</p>
		</div>

		<div class="keyboard-key">
			<p id="Key32">,</p>
		</div>
	
		<div class="keyboard-key">
			<p id="Key33">.</p>
		</div>
		<div class="keyboard-key">
			<p id="Key34">_</p>
		</div>
	</div>

	<!-- riga 4  -->
	<div class="keyboard-row m-cont cont-row">
		<div class="keyboard-key">
			<p>Control</p>
		</div>
	
		<div class="keyboard-key">
			<p>Meta</p>
		</div>

		<div class="keyboard-key">
			<p>Alt</p>
		</div>

		<div class="keyboard-key">
			<p> </p>
		</div>

		<div class="keyboard-key">
			<p>AltGraph</p>
		</div>
	
		<div class="keyboard-key">
			<p>Fn</p>
		</div>

		<div class="keyboard-key">
			<p>Control</p>
		</div>
	
	</div>


</div>


{% endblock %}
