{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
{% endblock %}

{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}


<h1>HTML + CSS Keyboard</h1>
<div class="keyboard cont-col">
	<!-- riga 0  -->
	<div class="keyboard-row m-cont cont-row">

		<div class="keyboard-key">
			<p>Esc</p>
		</div>

		<div class="keyboard-key">
			<p>1</p>
		</div>

		<div class="keyboard-key">
			<p>2</p>
		</div>
	
		<div class="keyboard-key">
			<p>3</p>
		</div>

		<div class="keyboard-key">
			<p>4</p>
		</div>
	
		<div class="keyboard-key">
			<p>5</p>
		</div>

		<div class="keyboard-key">
			<p>6</p>
		</div>

		<div class="keyboard-key">
			<p>7</p>
		</div>

		<div class="keyboard-key">
			<p>8</p>
		</div>
	
		<div class="keyboard-key">
			<p>9</p>
		</div>

		<div class="keyboard-key">
			<p>0</p>
		</div>
	
		<div class="keyboard-key">
			<p>-</p>
		</div>

		<div class="keyboard-key">
			<p>=</p>
		</div>
	
		<div class="keyboard-key">
			<p>BackSpace</p>
		</div>

	</div>

	<!-- riga 1  -->
	<div class="keyboard-row m-cont cont-row">
		<div class="keyboard-key">
			<p>Tab</p>
		</div>
	
		<div class="keyboard-key">
			<p>q</p>
		</div>

		<div class="keyboard-key">
			<p>w</p>
		</div>
	
		<div class="keyboard-key">
			<p>e</p>
		</div>

		<div class="keyboard-key">
			<p>r</p>
		</div>
	
		<div class="keyboard-key">
			<p>t</p>
		</div>

		<div class="keyboard-key">
			<p>y</p>
		</div>

		<div class="keyboard-key">
			<p>u</p>
		</div>

		<div class="keyboard-key">
			<p>i</p>
		</div>
	
		<div class="keyboard-key">
			<p>o</p>
		</div>

		<div class="keyboard-key">
			<p>p</p>
		</div>

		<div class="keyboard-key">
			<p>[</p>
		</div>
	
		<div class="keyboard-key">
			<p>]</p>
		</div>
	
		<div class="keyboard-key">
			<p>\</p>
		</div>
	

	</div>
	<!-- riga 2  -->
	<div class="keyboard-row m-cont cont-row">
		<div class="keyboard-key">
			<p>bloc_maiusc</p>
		</div>

		<div class="keyboard-key">
			<p>a</p>
		</div>

		<div class="keyboard-key">
			<p>s</p>
		</div>
	
		<div class="keyboard-key">
			<p>d</p>
		</div>

		<div class="keyboard-key">
			<p>f</p>
		</div>
	
		<div class="keyboard-key">
			<p>g</p>
		</div>

		<div class="keyboard-key">
			<p>h</p>
		</div>

		<div class="keyboard-key">
			<p>j</p>
		</div>

		<div class="keyboard-key">
			<p>k</p>
		</div>
	
		<div class="keyboard-key">
			<p>l</p>
		</div>

		<div class="keyboard-key">
			<p>ò</p>
		</div>
	
		<div class="keyboard-key">
			<p>'</p>
		</div>
	
		<div class="keyboard-key">
			<p>Enter</p>
		</div>

	</div>

	<!-- riga 3  -->
	<div class="keyboard-row m-cont cont-row">
		<div class="keyboard-key">
			<p>Shift</p>
		</div>

		<div class="keyboard-key">
			<p>z</p>
		</div>

		<div class="keyboard-key">
			<p>x</p>
		</div>
	
		<div class="keyboard-key">
			<p>c</p>
		</div>

		<div class="keyboard-key">
			<p>v</p>
		</div>
	
		<div class="keyboard-key">
			<p>b</p>
		</div>

		<div class="keyboard-key">
			<p>n</p>
		</div>

		<div class="keyboard-key">
			<p>m</p>
		</div>

		<div class="keyboard-key">
			<p>,</p>
		</div>
	
		<div class="keyboard-key">
			<p>.</p>
		</div>
		<div class="keyboard-key">
			<p>_</p>
		</div>
	</div>

	<!-- riga 4  -->
	<div class="keyboard-row m-cont cont-row">
		<div class="keyboard-key">
			<p>Ctrl</p>
		</div>
	
		<div class="keyboard-key">
			<p>Win</p>
		</div>

		<div class="keyboard-key">
			<p>Alt</p>
		</div>

		<div class="keyboard-key">
			<p>____SpaceBar____</p>
		</div>

		<div class="keyboard-key">
			<p>AltGR</p>
		</div>
	
		<div class="keyboard-key">
			<p>Fn</p>
		</div>

		<div class="keyboard-key">
			<p>Ctrl</p>
		</div>
	
	</div>


</div>


{% endblock %}


