{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block extra_js %}
<script type="module" src="{{ url_for('static', filename='js/index.js') }}"  defer></script>
{% endblock %}

{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<form autocomplete="off">
<select id="Theme" name="Theme">
  <option>Dark</option>
  <option selected>Light</option>
</select>

<select id="Keyboard-Layout" name="Keyboard-Layout">
	<option value="QWERTY">QWERTY</option>
	<option value="Colemak">Colemak</option>
	<option value="QWERTZ">QWERTZ</option>

</select>
<input id="inputfile" type="file" accept=".txt">
<button id="benchmark">Run</button>

<br>
<textarea id="battlefield" wrap="soft"></textarea>
<button id="wipetext">Clear</button>

</form>

<h1>HTML + CSS Keyboard</h1>
<div class="keyboard cont-col">
	<!-- riga 0  -->
	<div class="keyboard-row cont-row">
		<div class="keyboard-key escape"><p id="Key1" data-code="Escape">Escape</p></div>
		<div class="keyboard-key"><p id="Key2" data-code="Digit1">1</p></div>
		<div class="keyboard-key"><p id="Key3" data-code="Digit2">2</p></div>
		<div class="keyboard-key"><p id="Key4" data-code="Digit3">3</p></div>
		<div class="keyboard-key"><p id="Key5" data-code="Digit4">4</p></div>
		<div class="keyboard-key"><p id="Key6" data-code="Digit5">5</p></div>
		<div class="keyboard-key"><p id="Key7" data-code="Digit6">6</p></div>
		<div class="keyboard-key"><p id="Key8" data-code="Digit7">7</p></div>
		<div class="keyboard-key"><p id="Key9" data-code="Digit8">8</p></div>
		<div class="keyboard-key"><p id="Key10" data-code="Digit9">9</p></div>
		<div class="keyboard-key"><p id="Key11" data-code="Digit0">0</p></div>
		<div class="keyboard-key"><p id="Key12" data-code="Minus">-</p></div>
		<div class="keyboard-key"><p id="Key13" data-code="Equal">=</p></div>
		<div class="keyboard-key backspace"><p id="Key14" data-code="Backspace">Backspace</p></div>
	</div>

	<!-- riga 1  -->
	<div class="keyboard-row cont-row">
		<div class="keyboard-key tab"><p id="Key15" data-code="Tab">Tab</p></div>
		<div class="keyboard-key"><p id="Key16" data-code="KeyQ">q</p></div>
		<div class="keyboard-key"><p id="Key17" data-code="KeyW">w</p></div>
		<div class="keyboard-key"><p id="Key18" data-code="KeyE">e</p></div>
		<div class="keyboard-key"><p id="Key19" data-code="KeyR">r</p></div>
		<div class="keyboard-key"><p id="Key20" data-code="KeyT">t</p></div>
		<div class="keyboard-key"><p id="Key21" data-code="KeyY">y</p></div>
		<div class="keyboard-key"><p id="Key22" data-code="KeyU">u</p></div>
		<div class="keyboard-key"><p id="Key23" data-code="KeyI">i</p></div>
		<div class="keyboard-key"><p id="Key24" data-code="KeyO">o</p></div>
		<div class="keyboard-key"><p id="Key25" data-code="KeyP">p</p></div>
		<div class="keyboard-key"><p id="Key26" data-code="BracketLeft">[</p></div>
		<div class="keyboard-key"><p id="Key27" data-code="BracketRight">]</p></div>
		<div class="keyboard-key"><p id="Key28" data-code="Backslash">\</p></div>
	</div>

	<!-- riga 2  -->
	<div class="keyboard-row cont-row">
		<div class="keyboard-key capslock"><p id="Key29" data-code="CapsLock">CapsLock</p></div>
		<div class="keyboard-key"><p id="Key30" data-code="KeyA">a</p></div>
		<div class="keyboard-key"><p id="Key31" data-code="KeyS">s</p></div>
		<div class="keyboard-key"><p id="Key32" data-code="KeyD">d</p></div>
		<div class="keyboard-key"><p id="Key33" data-code="KeyF">f</p></div>
		<div class="keyboard-key"><p id="Key34" data-code="KeyG">g</p></div>
		<div class="keyboard-key"><p id="Key35" data-code="KeyH">h</p></div>
		<div class="keyboard-key"><p id="Key36" data-code="KeyJ">j</p></div>
		<div class="keyboard-key"><p id="Key37" data-code="KeyK">k</p></div>
		<div class="keyboard-key"><p id="Key38" data-code="KeyL">l</p></div>
		<div class="keyboard-key"><p id="Key39" data-code="Semicolon">ò</p></div>
		<div class="keyboard-key"><p id="Key40" data-code="Quote">'</p></div>
		<div class="keyboard-key enter"><p id="Key41" data-code="Enter">Enter</p></div>
	</div>

	<!-- riga 3  -->
	<div class="keyboard-row  cont-row">
		<div class="keyboard-key shift"><p id="Key42" data-code="ShiftLeft">Shift</p></div>
		<div class="keyboard-key"><p id="Key43" data-code="KeyZ">z</p></div>
		<div class="keyboard-key"><p id="Key44" data-code="KeyX">x</p></div>
		<div class="keyboard-key"><p id="Key45" data-code="KeyC">c</p></div>
		<div class="keyboard-key"><p id="Key46" data-code="KeyV">v</p></div>
		<div class="keyboard-key"><p id="Key47" data-code="KeyB">b</p></div>
		<div class="keyboard-key"><p id="Key48" data-code="KeyN">n</p></div>
		<div class="keyboard-key"><p id="Key49" data-code="KeyM">m</p></div>
		<div class="keyboard-key"><p id="Key50" data-code="Comma">,</p></div>
		<div class="keyboard-key"><p id="Key51" data-code="Period">.</p></div>
		<div class="keyboard-key"><p id="Key52" data-code="Slash">_</p></div>
	</div>

	<!-- riga 4  -->
	<div class="keyboard-row cont-row">
		<div class="keyboard-key control"><p id="Key53" data-code="ControlLeft">Control</p></div>
		<div class="keyboard-key"><p id="Key54" data-code="MetaLeft">Meta</p></div>
		<div class="keyboard-key"><p id="Key55" data-code="AltLeft">Alt</p></div>
		<div class="keyboard-key space"><p id="Key56" data-code="Space"> </p></div>
		<div class="keyboard-key"><p id="Key57" data-code="AltRight">AltGraph</p></div>
		<div class="keyboard-key"><p id="Key58" data-code="Fn">Fn</p></div>
		<div class="keyboard-key control"><p id="Key59" data-code="ControlRight">Control</p></div>
	</div

</div>


{% endblock %}
